.paper-shadow{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 5px;
}
/*espacio para el css  de las card del home profesores*/
.tab-container{
  margin-bottom: 20px;
}
/* Header de las Tabs */
.tab-container .active-tab-name {
  transform: translateX(100vw);
  color: #666;
}

.tab-container .active-tab-name.animate {
  transition: opacity 0.3s ease-in;
  transition-property: opacity, transform;
  transform: translateX(0);
}
/*----------2.Headings & Buttons----------*/

/*CARD DE USUARIO */

.profile-card {
  
  overflow: hidden;  
  position: relative;
  margin: auto;
  background: rgba(255, 255, 255, 1);
}

.profile-card header {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 30px 0 20px;
  z-index: 1;
  overflow: hidden;
}

.profile-card header:before {
  content: "";
  position: absolute;
  background: url("https://uniandes.edu.co/sites/default/files/campus-universidad-edificio_0.jpg")
    no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.profile-card header:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.profile-card header img {
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  /*border: 1px solid rgba(255,255,255,.5);*/
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.profile-card header h1 {
  font-weight: 200;

  color: #444;
}

.profile-card .profile-bio {
  padding: 0 30px;
  text-align: center;
  color: #888;
}

.profile-card .profile-social-links {
  display: table;
  width: 70%;
  margin: 20px auto;
  margin-left: 21px;
}

.profile-card .profile-social-links li {
  display: inline-block;
  width: 33.3333333333333333%;
}

.profile-card .profile-social-links li a {
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
  border-radius: 100%;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.profile-card .profile-social-links li a:hover {
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}

.profile-card .profile-social-links li a:active {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.profile-card .profile-social-links li a img {
  width: 100%;
  display: block;
}

.profile-card .profile-social-links li a img {
  width: 100%;
  display: block;
}
#perfil-profesor .nombre-prof{
  padding: 15px;
  color: #666;
}
#perfil-profesor .social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 15px;
}

#perfil-profesor .social-links .s-link {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: all 0.1s;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#perfil-profesor .social-links .s-link:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s;
  transform: perspective(200px) translateZ(15px);
}

#perfil-profesor .s-link img {
  width: 100%;
  height: 100%;
}

/* MENU de tabs */
#nav-profesor {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

#nav-profesor ul{
  margin-bottom: 0px;   
}

#nav-profesor a.active-link , #nav-profesor a:hover{
  background-color: #eee;
}

#nav-profesor .tab-title{
  margin-left: 10px;
}

/*titulo de cada cursos  */

/*clase bage*/

span.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 1em;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

/*hojas TABS  */

.contenedor-productos {
  margin-left: -7%;
}

button#boton-cursos {
  border: 1px black solid;
  width: 100%;
  height: 58px;
}



/* Tab INFORMACION BÃSICA*/
#tab-info-profesor .informacion-basica {
  padding: 20px;  
}

#tab-info-profesor .informacion-basica .small-bar {
  display: inline-block;
  width: 100%;
  padding: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 1em;
}

#tab-info-profesor .informacion-basica .info-value {
  text-align: center;
  display: block;
  widows: 100%;
  
}

#tab-info-profesor .informacion-basica .large-bar {
  font-size: 1em;
  display: inline-block;
  width: 100%;
  padding: 7px; 
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 1em;
}

#tab-info-profesor .informacion-basica .description {
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (min-width: 768px) {
  #tab-info-profesor .informacion-basica .info-value {
    text-align: center;
    display: inline-block;
    
  }

  #tab-info-profesor .informacion-basica .small-bar {
    width: 100px;
    margin-right: 15px;
  }
}
/* Tabs CURSOS */

#tab-curso .container-cursos {
  
  overflow: hidden;
  
  
}

#tab-curso .curso-toggle-collapse {
  
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tab-curso .container-cursos > div {
  border-top: 1px solid rgb(0,0,0,0.08);
  /*border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

/*El primer div no tiene border-top, para no mezclarse con el top-border de .container-cursos*/
#tab-curso .container-cursos > :first-child {
  border-top: 0 none;
  /*border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}

#tab-curso .list-curso {
  width: 100%;
  text-align: center;
  
  border-top: 0 none;
  margin-bottom: 0;
  border-radius: 0;
}

#tab-curso .curso-toggle-collapse > div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
}

#tab-curso .curso-toggle-collapse {
  cursor: pointer;
}

#tab-curso .curso-toggle-collapse .item-label {
  font-size: 1.2em;
}

#tab-curso .curso-toggle-collapse .glyphicon {
  transition: transform 0.3s;
  margin-right: 10px;
}

#tab-curso [aria-expanded="true"] .glyphicon {
  transform: rotate(180deg);
}

#tab-curso .list-curso .titulo-curso {
  
  text-align: center;  
  font-size: 1.1em;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
}

#tab-curso .list-curso .level{
  display: inline-block;
  padding: 7px;
  margin-bottom: 20px;
  margin-top: 7px;
  font-size: 1em;
}

/*Tab PRODUCTOS*/
#tab-productos .producto {
  padding: 20px;
  
  margin-bottom: 20px;
}
/* Tab Titulo Academico */

#tab-titulo-academico .informacion-academica {
  padding: 20px;
  
  margin-bottom: 20px;
}




